h1 {
    font-size: 50px;
    font-weight: bolder;
    color: dodgerblue;
}

p {

    font-style: italic;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 25ch;
    margin-top: 30px;

    animation: typing 4s steps(25),
        blink 5s infinite step-end alternate
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


h3 {
    color: white;
    font-weight: bolder;
}

a {
    transition: all .3s ease
}

a:hover {
    color: black;
    background-color: dodgerblue;
    border-radius: 10px;

}