@import url('https://fonts.googleapis.com/css2?family=Combo&family=Montserrat+Alternates:wght@200;900&family=Rajdhani&family=Rasa:wght@300;500&family=Sulphur+Point:wght@300&display=swap');

.contenido {
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    margin: 40px auto 0px 0px;
    background-color: lightgoldenrodyellow;


}

h3 {
    color: dodgerblue;
    font-weight: bolder;
    text-align: center;
}


.imagen {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}

.post .contenido {
    padding: 5px
}

.post .contenido h3 {
    text-align: center;
}

.post .contenido p {
    text-align: center;
}

p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    text-align: center;
}

.contenido h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}