/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Montserrat+Alternates:wght@200&family=Poppins:ital,wght@0,700;1,400&family=Rajdhani&family=Rasa:wght@300;500&family=Sulphur+Point:wght@300&display=swap');

img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 20px;


}

body {
    background-image: url('https://st2.depositphotos.com/4195399/7422/v/450/depositphotos_74222395-stock-illustration-dense-vegetation-pattern.jpg');
    background-repeat: repeat;
    font-family: 'Montserrat Alternates', sans-serif;
}